# Variables d'environnement pour l'API Décor Discount

# URL de base de l'API Proginov (fournie par Proginov)
VITE_DECOR_API_URL=https://decor-discount-api.progiapps.fr/ws

# Token API (fourni par Proginov - NE PAS PARTAGER)
VITE_DECOR_API_KEY=A685-G4213-BR18-H239-KBN8-PROD

# Backend PrestaShop SQL (serveur local)
VITE_BACKEND_URL=http://localhost:3001

# Connexion PrestaShop MySQL (pour le backend seulement)
PRESTA_DB_HOST=prd-prestashop-d1ede37c451d.prestashop.sh
PRESTA_DB_USER=readonly
PRESTA_DB_PASSWORD=I6Gievgn2opB5JzP
PRESTA_DB_NAME=prestashop
